<app-header></app-header>

<!-- Menu  -->
<div class="row">
    <div class="col-md-6 d-flex justify-content-center">
        <div class="menu-content">
            <button mat-fab color="white" class="menu-div" (click)="lessonRoute()">
                <mat-icon class="color">edit</mat-icon>
            </button>
            <span class="menu-band">Cours</span>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
        <div class="menu-content" (click)="exerciseRoute()">
            <button mat-fab color="white" class="menu-div">
                <mat-icon class="color">work</mat-icon>
            </button>
            <span class="menu-band">Exercice</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 d-flex justify-content-center">
        <div class="menu-content">
            <button mat-fab color="white" class="menu-div">
                <mat-icon class="color">exposure</mat-icon>
            </button>
            <span class="menu-band">Passer au test</span>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
        <div class="menu-content mat-elevation-z">
            <button mat-fab color="white" class="menu-div">
                <mat-icon class="color">timeline</mat-icon>
            </button>
            <span class="menu-band">Evaluation</span>
        </div>
    </div>
</div>