<div class="text-right top">
    <ul>
        <li>Bonjour <b>Koto</b> <img src="../../../assets/images/sary.jpg"></li>
        <li><a>Se déconnecter <i class="material-icons">exit_to_app</i></a></li>
    </ul>
</div>

<div class="text-center logo">
    <a (click)="toHome()"><img src="../../../assets/images/logo.png"></a>
</div>
<div class="container cours">
    <div class="row">
        <div class="col-sm-12">
            <h1>FORMATION | {{formation}}</h1>
        </div>
        <div class="col-sm-4 nav-left">
            <p (click)="toHome()"><i class="material-icons">arrow_back</i> Retour à la page d'accueil</p>

            <!-- ETO LE LISTE MODULE IO  -->
            
            <ul *ngFor="let item of listModules">
                <li (click)="emitDataModule(item)"><a>{{item.name}}</a></li>
            </ul>
        </div>
        <div class="col-sm-8">
            <h3><i class="material-icons">chevron_right</i> Module <b>{{moduleName}}</b></h3>

            <!-- ETO LE  QUESTIONNAIRE -->

            <div *ngFor="let item of listQuestions | slice: 0:1">
                <h5>{{item.content }}</h5>
                <form>
                    <div class="form-check" *ngFor="let q of item.questions">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option2" [(ngModel)]="stateAnswer">
                        <label class="form-check-label" for="exampleRadios1">
                            {{q.content}}
                        </label>
                    </div> 
                    
                    <div class="form-check" >
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option2" [(ngModel)]="stateAnswer">
                        <label class="form-check-label" for="exampleRadios1">
                            ujai ihjfsnf lp jpoaj poajdpoajdpoja poaj japoj apj dpojapodapoj dpoajpdoaj poaj poajapojpo apao 
                        </label>
                    </div>  
                </form>
            </div>
            <div class="row nav-slide">
                <div class="text-left col-6">
                    <span class="btn btn-primary"><i class="material-icons">chevron_left</i></span>
                </div>
                <div class="text-right col-6">
                    <span class="btn btn-primary"><i class="material-icons">chevron_right</i></span>
                </div>
            </div>          

        </div>
    </div>
</div>
<p class="text-center copyright">
    © Copyright 2020 Madacan
</p>