<app-header></app-header>

<div class="container cours">
    <div class="row">
        <div class="col-sm-12">
            <h1>FORMATION | {{formation}}</h1>
        </div>

        <!-- CONTENT MODULE -->
        <div class="col-sm-4 nav-left">
            <app-module [listModules]="listModules" (emitModule)="emitDataModule($event)"></app-module>
        </div>

        <div class="col-sm-8 text-center" *ngIf="courseContent == false">
            <h3>Veuillez choisir le module concerné</h3>
        </div>

        <!-- COURS Right -->
        <div class="col-sm-8" *ngIf="courseContent == true">
            <h3><i class="material-icons">chevron_right</i> Module <b>{{moduleName}}</b></h3>
            <ul class="text-center download-list">
                <li *ngFor="let item of listSupports, let i = index">
                    <a class="cursor-pt">
                        <div class="cont-img">
                            <!-- IMAGE -->
                            <img *ngIf="filePdf[i] == true" src="../../../assets/images/pdf.jpg"
                                (click)="openViewModal(pdf)">
                            <img *ngIf="filePpt[i] == true" src="../../../assets/images/ppt.jpg">
                            <img *ngIf="fileVideo[i] == true" src="../../../assets//images/exercise.jpg">

                            <!-- ICONE -->
                            <!-- <div *ngIf="filePdf[i] || filePpt[i] == true" class="cont-ico">
                                <i class="material-icons">download</i>
                            </div> -->
                            <div *ngIf="filePpt[i] == true" class="cont-ico">
                                <i class="material-icons" (click)="openViewModal(msOffice)">download</i>
                            </div>
                            <div *ngIf="fileVideo[i] == true" class="cont-ico">
                                <i class="material-icons" (click)="openViewModal(video)">play_circle_filled</i>
                            </div>
                        </div>
                        <div class="cont-txt">
                            <h4>{{fileName[i]}}</h4>
                        </div>

                        <!-- VIEW PDF -->
                        <ng-template #pdf>
                            <div class="modal-body modal-connect">
                                <!-- <pdf-viewer [src]="pdfSrc[i]" [original-size]="false"></pdf-viewer> -->
                                <ngx-doc-viewer [url]="pdfSrc[i]" viewer="google" style="width:100%;height:80vh;"></ngx-doc-viewer>
                            </div>
                        </ng-template>

                        <!-- VIEW VIDEO -->
                        <ng-template #video>
                            <div class="modal-body modal-connect d-flex justify-content-center">
                                <video src="{{videoSrc[i]}}" autoplay="true" style="width: 80%;" controls>
                                </video>
                            </div>                            
                        </ng-template>

                        <!-- VIEW DICS -->
                        <ng-template #msOffice>
                            <div class="modal-body modal-connect">
                                <ngx-doc-viewer [url]="pptSrc[i]" viewer="google" style="width:100%;height:60vh;"></ngx-doc-viewer>
                            </div>                            
                        </ng-template>

                        

                    </a>
                </li>
            </ul>
            <div *ngIf="alertCourseEmpty == true">
                <h3 class="col-sm-8 text-center">Ce module n'a pas de documentation</h3>
            </div>
        </div>
    </div>
</div>
<p class="text-center copyright">
    © Copyright 2020 Madacan
</p>