<app-header></app-header>

<div class="container cours">
    <div class="row">
        <div class="col-sm-12">
            <h1>FORMATION | {{formation}}</h1>
        </div>

        <!-- CONTENT MODULE -->
        <div class="col-sm-4 nav-left">
            <app-module [listModules]="listModules" (emitModule)="emitDataModule($event)"></app-module>
        </div>

        <div class="col-sm-8 text-center" *ngIf="courseContent == false">
            <h3>Veuillez choisir le module concerné</h3>
        </div>

        <!-- COURS Right -->
        <div class="col-sm-8" *ngIf="courseContent == true">
            <h3><i class="material-icons">chevron_right</i> Module <b>{{moduleName}}</b></h3>
            <ul class="text-center download-list">
                <li *ngFor="let item of listDocumentByModule">
                    <a class="cursor-pt">
                        <div class="cont-img">
                            <!-- IMAGE -->
                            <img *ngIf="item.type == 'pdf'" src="../../../assets/images/pdf.jpg"
                                (click)="openViewModal(pdf, item.file)">
                            <img *ngIf="item.type == 'ptx'" src="../../../assets/images/ppt.jpg">
                            <img *ngIf="item.type !== 'pdf' && item.type !== 'ptx'" src="../../../assets//images/exercise.jpg">

                            <div *ngIf="item.type == 'ptx'" class="cont-ico">
                                <i class="material-icons" (click)="openViewModal(msOffice, item.file)">download</i>
                            </div>
                            <div *ngIf="item.type !== 'pdf' && item.type !== 'ptx'" class="cont-ico">
                                <i class="material-icons" (click)="openViewModal(video, item.file)">play_circle_filled</i>
                            </div>
                        </div>
                        <div class="cont-txt">
                            <h4>{{item.fileName}}</h4>
                        </div>                                      

                    </a>
                </li>
            </ul>
            <div *ngIf="alertCourseEmpty == true">
                <h3 class="col-sm-8 text-center">Ce module n'a pas de documentation</h3>
            </div>
        </div>
    </div>
</div>

<!-- VIEW PDF -->
<ng-template #pdf>
    <div class="modal-body modal-connect">
        <ngx-doc-viewer [url]="file" viewer="google" style="width:100%;height:80vh;"></ngx-doc-viewer>
    </div>
</ng-template>

<!-- VIEW VIDEO -->
<ng-template #video>
    <div class="modal-body modal-connect d-flex justify-content-center">
        <video src="{{file}}" autoplay="true" style="width: 80%;" controls>
        </video>
    </div>                            
</ng-template>

<!-- VIEW DICS -->
<ng-template #msOffice>
    <div class="modal-body modal-connect">
        <ngx-doc-viewer [url]="file" viewer="google" style="width:100%;height:60vh;"></ngx-doc-viewer>
    </div>                            
</ng-template>      

<p class="text-center copyright">
    © Copyright 2020 Madacan
</p>