<app-header></app-header>

<div class="container cours">
    <div class="row">
        <div class="col-sm-12">
            <h1>FORMATION | {{formation}}</h1>
        </div>

        <!-- CONTENT MODULE -->
        <div class="col-sm-4 nav-left">
            <app-module [listModules]="listModules" (emitModule)="emitDataModule($event)"></app-module>
        </div>

        <div class="col-sm-8 text-center" *ngIf="courseContent == false">
            <h3>Veuillez choisir le module concerné</h3>
        </div>

        <!-- COURS Right -->
        <div class="col-sm-8" *ngIf="courseContent == true">
            <h3><i class="material-icons">chevron_right</i> Module <b>{{moduleName}}</b></h3>
            <ul class="text-center download-list" >
                <li *ngFor="let item of listSupports, let i = index">
                    <a>
                        <div class="cont-img">
                            <img *ngIf="filePdf[i] == true" src="../../../assets/images/pdf.jpg">
                            <img *ngIf="filePpt[i] == true" src="../../../assets/images/ppt.jpg">
                            <img *ngIf="fileVideo[i] == true" src="../../../assets//images/exercise.jpg">
                            <div *ngIf="filePdf[i] || filePpt[i] == true" class="cont-ico"><i class="material-icons">download</i></div>
                            <div *ngIf="fileVideo[i] == true" class="cont-ico"><i class="material-icons">play_circle_filled</i></div>
                        </div>
                        <div class="cont-txt">
                            <h4>{{fileName[i]}}</h4>
                        </div>
                    </a>
                </li>  
            </ul>
            <div *ngIf="alertCourseEmpty == true">
                <h3 class="col-sm-8 text-center">Ce module n'a pas de documentations</h3>
            </div>
        </div>        
    </div>
</div>
<p class="text-center copyright">
    © Copyright 2020 Madacan
</p>