/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {position:relative;height:100%;}
body {position:relative;height:100%;font-family: 'Poppins', sans-serif;font-size:12px;}
.btn.btn-primary {background:#E63221;box-shadow:0 3px 8px rgba(0,0,0,0.32);border-radius:0;border:none;transition:0.25s; }
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:visited  {background: #007B3C !important;}
.copyright {padding:35px 0 0;}

.top{position: absolute;right: 0;}
.top ul {padding: 15px 25px 0 0;}
.top ul li {display: inline-block;padding: 10px;}
.top ul li img {border-radius:150px;width:31px;height: 31px;margin-left: 5px;}
.top ul li i {color: #E63221;position:relative;top: 6px;}
.top ul li a {cursor:pointer;}
.top ul li a:hover {color: #007B3C !important;}

.left {position:absolute;left:0;width:514px;bottom:0;top:0;padding:40px 0 0;}
.left form {padding:0 15%;}
.left form .form-group {position:relative;}
.left form .material-icons {position:absolute;color:#E63221;right:10px; top:5px;}
.left form .form-control {border:none;box-shadow:0 3px 8px rgba(0,0,0,0.16);border-radius:0;border-bottom:#fff 4px solid;transition:0.25s;position:relative;}
.left form .form-control:focus {border-bottom:#007B3C 4px solid;}
.left .copyright {position:absolute;bottom:25px;left:0; right:0;}
.left .btn.btn-primary {width:100%;padding:10px 0;}

.right {position:absolute;right:0;width:calc(100% - 514px);bottom:0;top:0;background:#000 url(./assets/images/right.jpg) center top no-repeat;background-size:100%;color:#fff;}
.right .text-right {position:absolute;bottom:20%;left:10%;right:0;border-right:10px #007B3C solid; padding:30px;} 
.right .text-right h1 {font-size:23px;font-weight:bold;} 

.nav-list {padding:0 0 25px;border-bottom:#E63221 10px solid;max-width:1123px; margin:0 auto 40px;}
.nav-list li {display:inline-block;padding:0 15px;}
.nav-list li a {transition:0.25s;display:block;color:#fff !important;cursor:pointer;width:248px;height:246px;background:url(./assets/images/li.png) center top no-repeat;font-size:22px;font-weight:bold; padding-top:20px;box-shadow:10px 10px #E9E9E9;}
.nav-list li a:hover {background:url(./assets/images/li.png) center -246px no-repeat;text-decoration:none;}
.nav-list li a .material-icons {display:block;font-size:160px;}

.cours h1 {font-size:16px;font-weight:bold;color:#fff;background:#000;box-shadow:0 3px 8px rgba(0,0,0,0.16);padding:10px 25px;}
.cours .col-sm-12 {padding:0;margin:0 0 12px;}
.cours .nav-left {font-size:16px;color:#007B3C;}
.cours .nav-left p {cursor:pointer;font-size:15px;;font-weight:400; }
.cours .nav-left p .material-icons {position:relative;top:3px;font-size:16px;margin-right: 6px;}
.cours .nav-left a {cursor:pointer;}
.cours .nav-left ul {padding:0;}
.cours .nav-left ul li {display:block;}
.cours .nav-left ul li a {color:#606060;border-radius:6px;cursor:pointer;display:block;padding:9px 25px;transition:0.25s;background:#E5E5E5;}
.cours .nav-left ul li a:hover, .cours .nav-left ul li.active a {color:#fff;font-weight:bold;text-decoration:none;background:#007137;}
.cours h3 {font-size:22px; font-weight:400;}
.cours h3 .material-icons {color:#007B3C;position:relative;top:4px;margin:7px 0 17px;}
.cours .col-sm-8 form {padding:0 0 0 50px;}
.cours .col-sm-8 form .form-check {padding:0 0 20px 0;}
.nav-slide .btn.btn-primary  {border-radius:100px;width:67px;height:67px;}
.nav-slide .btn.btn-primary .material-icons {font-size:80px;position:relative;top:-12px; right:15px;}
.nav-slide .text-left .btn.btn-primary .material-icons { right:18px;}


.download-list {padding:0;}
.download-list li {display:inline-block; width:31%; margin:0 1% 10px;vertical-align: top;}
.download-list li a {display:block;box-shadow:0 3px 6px rgba(0,0,0,0.16);background:#F5F5F5;transition:0.25s;}
.download-list li a:hover {transform:scale(1.08,1.08);text-decoration:none;}
.download-list li .cont-img {position:relative;}
.download-list li .cont-img img {width:100%;}
.download-list li .cont-img .cont-ico {position:absolute;left:0;right:0;top:22px;text-shadow:0 0 20px rgba(0,0,0,0.5);}
.download-list li .cont-img .cont-ico .material-icons {font-size:90px; color:#fff;}
.download-list li .cont-txt h4 {font-size:90px; color:#fff;color:#000000;font-size:12px; padding:17px 5px;}

.cursor-pt {
	cursor: pointer;
}

/* .modal-xl .modal-lg {
	height: 100%;
	width: 100px;
} */

.h3 {background: #007B3C;color:#fff;border-radius:5px;margin: 38px 0 25px !important;padding: 7px 10px;}
.h4 {margin: 0 0 25px!important; font-size: 18px !important;}
.but i.material-icons { position: relative;top: 6px;}
.but {padding: 0px 20px 7px !important;}

.chrono {background: #E63221;border-radius:5px;padding:10px;text-align: center;color:#fff}
.chrono h6 {background: #007B3C;color:#fff;border-radius:5px;padding:10px;text-align: center;}
.chrono p {font-size: 30px;color:#fff;font-weight: bold;}

@media (max-width: 1199px) {

}
@media (max-width: 991px) and (min-width: 768px) {
	.nav-list li {margin: 0 0 20px;}
	.text-center.logo {text-align: left !important;	}
	.logo img {width: 123px;}
}
@media (max-width: 767px) {
	.download-list li  {width:100%;}
	.text-center.logo {padding-top: 67px;}
	.nav-list li {margin: 0 0 20px;}
	.top ul {padding:0;	text-align: center;	}
	.top {left: 0;}
	.right {display: none;}
	.left {width: 100%;}
	table {width: 100%;display: block;overflow: scroll;	}
}
@media (max-width: 575px) {

}