<div class="content">
    <app-header></app-header>

    <div class="doing-title">
        <div class="row">
            <div class="col-sm-3 doing-content mat-elevation-z8 animate__animated animate__zoomInRight">
                <app-doing></app-doing>
            </div>
            <div class="col-sm-8 body-content animate__animated animate__fadeInRight mat-elevation-z8">
                <div style="margin-top: 20px; margin-bottom: 20px;">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                . EXERCICE DOING 1
                            </mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <div>
                                <mat-accordion>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                1. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod
                                                tempor
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <mat-selection-list [multiple]="true">
                                            <mat-list-option> Reponse 1 Lorem ipsum doloa aliqua </mat-list-option>
                                            <mat-list-option> Reponse 2 Lorem ipsum dolore magna aliqua
                                            </mat-list-option>
                                            <mat-list-option> Reponse 3 Lore dolore magna aliqua</mat-list-option>
                                            <mat-list-option> Reponse 4 Lorem ipsum magna aliqua</mat-list-option>
                                        </mat-selection-list>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                2. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod
                                                tempor incididunt ut labore et dolore
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <mat-selection-list [multiple]="true">
                                            <mat-list-option> Reponse 1 Lorem ipsum dolor smagna aliqua
                                            </mat-list-option>
                                            <mat-list-option> Reponse 2 Lorem ipsum dolore magna aliqua
                                            </mat-list-option>
                                            <mat-list-option> Reponse 3 Lore dolore magna aliqua</mat-list-option>
                                            <mat-list-option> Reponse 4 Lorem ipsum magna aliqua</mat-list-option>
                                        </mat-selection-list>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius
                                                mod tempor
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <mat-selection-list [multiple]="true">
                                            <mat-list-option> Reponse 1 Lorem ipsum doloa aliqua </mat-list-option>
                                            <mat-list-option> Reponse 2 Lorem ipsum dolore magna aliqua
                                            </mat-list-option>
                                            <mat-list-option> Reponse 3 Lore dolore magna aliqua</mat-list-option>
                                            <mat-list-option> Reponse 4 Lorem ipsum magna aliqua</mat-list-option>
                                        </mat-selection-list>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                4. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod tempor
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <mat-selection-list [multiple]="true">
                                            <mat-list-option> Reponse 1 Lorem ipsum dolor smagna aliqua
                                            </mat-list-option>
                                            <mat-list-option> Reponse 2 Lorem ipsum dolore magna aliqua
                                            </mat-list-option>
                                            <mat-list-option> Reponse 3 Lore dolore magna aliqua</mat-list-option>
                                            <mat-list-option> Reponse 4 Lorem ipsum magna aliqua</mat-list-option>
                                        </mat-selection-list>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                5. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod tempor Lorem
                                                ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                Lorem ipsum
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <mat-selection-list [multiple]="true">
                                            <mat-list-option> Reponse 1 Lorem ipsum doloa aliqua </mat-list-option>
                                            <mat-list-option> Reponse 2 Lorem ipsum dolore magna aliqua
                                            </mat-list-option>
                                            <mat-list-option> Reponse 3 Lore dolore magna aliqua</mat-list-option>
                                            <mat-list-option> Reponse 4 Lorem ipsum magna aliqua</mat-list-option>
                                        </mat-selection-list>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                6. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <mat-selection-list [multiple]="true">
                                            <mat-list-option> Reponse 1 Lorem ipsum dolor smagna aliqua
                                            </mat-list-option>
                                            <mat-list-option> Reponse 2 Lorem ipsum dolore magna aliqua
                                            </mat-list-option>
                                            <mat-list-option> Reponse 3 Lore dolore magna aliqua</mat-list-option>
                                            <mat-list-option> Reponse 4 Lorem ipsum magna aliqua</mat-list-option>
                                        </mat-selection-list>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                7. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod tempor do
                                                eiusmod tempor
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <mat-selection-list [multiple]="true">
                                            <mat-list-option> Reponse 1 Lorem ipsum doloa aliqua </mat-list-option>
                                            <mat-list-option> Reponse 2 Lorem ipsum dolore magna aliqua
                                            </mat-list-option>
                                            <mat-list-option> Reponse 3 Lore dolore magna aliqua</mat-list-option>
                                            <mat-list-option> Reponse 4 Lorem ipsum magna aliqua</mat-list-option>
                                        </mat-selection-list>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                8. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <mat-selection-list [multiple]="true">
                                            <mat-list-option> Reponse 1 Lorem ipsum dolor smagna aliqua
                                            </mat-list-option>
                                            <mat-list-option> Reponse 2 Lorem ipsum dolore magna aliqua
                                            </mat-list-option>
                                            <mat-list-option> Reponse 3 Lore dolore magna aliqua</mat-list-option>
                                            <mat-list-option> Reponse 4 Lorem ipsum magna aliqua</mat-list-option>
                                        </mat-selection-list>

                                    </mat-expansion-panel>

                                    <mat-card-footer class="exercise-footer">
                                        <button mat-button class="btn-ok" (click)="closeExercise()">Fermer
                                            l'exercice</button>
                                    </mat-card-footer>
                                </mat-accordion>
                            </div>

                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>