<div class="left">
    <div class="text-center logo">
        <a href="#"><img src="../../../assets/images/logo.png"></a>
    </div>
    <form>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Identifiant" [(ngModel)]="email"
                [ngModelOptions]="{standalone: true}">
            <i class="material-icons">person</i>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Mot de passe" [(ngModel)]="password"
                [ngModelOptions]="{standalone: true}">
            <i class="material-icons">lock</i>
        </div>
        <button type="submit" class="btn btn-primary" (click)="connexion()">Se connecter</button>
    </form>
    <p class="text-center copyright">
        © Copyright 2020 Madacan
</div>

<div class="right">
    <div class="text-right">
        <h1>FORMATION MADACAN</h1>
        <p></p>
    </div>
</div>