<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-43">
                    Login to continue
                </span>


                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email">
                    <span class="focus-input100"></span>
                    <span class="label-input100"><mat-icon>person</mat-icon> Username</span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pass">
                    <span class="focus-input100"></span>
                    <span class="label-input100"><mat-icon>lock</mat-icon> Password</span>
                </div>

                <div class="container-login100-form-btn" style="margin-top: 50px;">
                    <button class="login100-form-btn" (click)="connexion()">
                        Login
                    </button>
                </div>
            </form>

            <div class="login100-more" style="background-image: url('../../../assets/images/Logo_Madacan.png');">
            </div>
        </div>
    </div>
</div>