<app-formation></app-formation>

<div class="row mt-5 d-flex justify-content-center">
    <div class="col-md-3 cursor-pt" (click)="toCourse()">
        <div class="card">
            <div class="image">
                <img src="../../../assets/images/img-app/exam.png" />
            </div>
            <div class="card-inner">
                <div class="header">
                    <h2>Cours</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 cursor-pt">
        <div class="card">
            <div class="image">
                <img src="../../../assets/images/img-app/exam.png" />
            </div>
            <div class="card-inner">
                <div class="header">
                    <h2>Exercices</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-3 cursor-pt">
        <div class="card">
            <div class="image">
                <img src="../../../assets/images/img-app/exam.png" />
            </div>
            <div class="card-inner">
                <div class="header">
                    <h2>Examen</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 cursor-pt">
        <div class="card">
            <div class="image">
                <img src="../../../assets/images/img-app/exam.png" />
            </div>
            <div class="card-inner">
                <div class="header">
                    <h2>Evaluation</h2>
                </div>
            </div>
        </div>
    </div>
</div>