<div class="text-center logo">
    <a href="#"><img src="../../../assets/images/logo.png"></a>
</div>
<ul class="text-center nav-list">
    <li><a><i class="material-icons" (click)="toCourse()">import_contacts</i>Cours</a></li>
    <li><a><i class="material-icons" (click)="toFormation()">edit</i>Exercice</a></li>
    <li><a><i class="material-icons" (click)="toFormation()">playlist_add_check</i>Passer au test</a></li>
    <li><a href="#"><i class="material-icons">timeline</i>Evaluation</a></li>
</ul>
<p class="text-center copyright">
    © Copyright 2020 Madacan
</p>