<ul class="text-center nav-list">
    <li><a><i class="material-icons" (click)="route('course')">import_contacts</i>Cours</a></li>
    <li><a><i class="material-icons" (click)="route('formation')">edit</i>Mes formations</a></li>
    <!-- <li><a><i class="material-icons" >playlist_add_check</i>Passer au test</a></li> -->
    <li><a><i class="material-icons" (click)="route('evaluation'); setEvalutationState()">timeline</i>Mes évaluation</a></li>
</ul>
<p class="text-center copyright">
    © Copyright 2020 Madacan
</p>