<div class="content">
    <app-header></app-header>

    <div class="doing-title">
        <div class="row">
            <div class="col-sm-3 doing-content mat-elevation-z8 animate__animated animate__zoomInRight">
                <app-doing></app-doing>
            </div>
            <div class="col-sm-8 body-content animate__animated animate__fadeInRight mat-elevation-z8">
                <div style="margin-top: 20px; margin-bottom: 20px;">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                Support DOING 1
                            </mat-card-title>
                            <mat-card-subtitle>
                                Les contenus peuvent être des fichiers pdf ou des vidéos. Soyez attentif !
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-list>
                                <mat-list-item>
                                    <div>
                                        <mat-icon class="color">picture_as_pdf</mat-icon>
                                    </div>
                                    <div style="margin-left: 10px;"> Titre support pdf DOING 1 </div>
                                </mat-list-item>
                                <mat-list-item (click)="openSupportVideo()">
                                    <div>
                                        <mat-icon class="color">play_arrow</mat-icon>
                                    </div>
                                    <div style="margin-left: 10px;"> Titre support vidéo DOING 1 </div>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>